.App {
  text-align: center;
  background-color: #e5e5e5;
}
.custom-body{
  display:flex;
 justify-content: center;
  
}
.singu{
 
  margin: 20px;
  display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    
}
.custom-cart{
  margin: 20px;
  
}


